body{
    background-color: #f5ebe0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    color: #000 ;
}

h1{
font-size: 3em;
margin: 0;
padding: 20px
}

h2{
    display: inline;
    padding: 20px;
    text-align: right;
}
h3{
    font-size: 25px;
}

p{
line-height: 1.4em;

}
section{
    display: flex;
}


.blog-post1{
    margin: 20px;
    padding: 20px;

}
.blog-post2{
    margin: 20px;
    padding: 20px;
    
}
ul{
    position: relative;
    bottom: 10px;
    right: 25px;
}
table,th,td{
    border: 1px solid #544d4d;
    text-align: left;
}